<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="">
    <meta name="keywords" content="Sayhello,different languages">
    <meta name="description" content="Website of SayHello">

    <title>SayHello</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app.css')}}">
</head>
<body>
    <header>
        <a class="header-text" href="/">SayHello</a>
        <a class="btn right-align" href="/contact">Contact Us</a>
    </header>
